<header>
  <mat-toolbar color="primary">
    <span> Abled Logo </span>
    <span class="fill-remaining-space"></span>
    <button [routerLink]="['/search']" mat-flat-button color="primary">
      <mat-icon>search</mat-icon>Búsqueda
    </button>
    <button [routerLink]="['/favorites']" mat-flat-button color="primary">
      <mat-icon>favorite</mat-icon>Favoritos
    </button>
    <button [routerLink]="['/auth/login']" mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</header>
