* {
  box-sizing: border-box;
}

.search-form {
  background: #fff;
  border-radius: 0.5rem;
  left: 0;
  margin: auto;
  max-width: 800px;
  min-height: 312px;
  padding: 1.625rem 5rem 2.5rem;
  position: absolute;
  right: 0;
  top: 4.5rem;
  display: block;
  z-index: 3;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}

.full-width {
  width: 100%;
}

.form-container {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  list-style: none;
  margin: 0;
}

.example-form-field {
  margin: 0 8px 16px 0;
}

button[type="submit"] {
  display: block;
  margin: 0.8rem auto 0;
  width: 100%;
  height: 3rem;
  height: 60px;
}

.data-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  mat-form-field {
    width: 100%;
  }
  .people {
    min-width: 48%;
  }
}

.guests-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 300px;
}

.list-people {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  margin: 1rem 1.2rem;
  padding: 0;
  list-style: none;

  h3 {
    width: 7ch;
  }

  .result {
    height: 36px;
    padding: 0.3rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
  }
}

/* -------------------BREAKPOINT------------------- */

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-form {
    padding: 1.625rem 4rem 2.5rem;
    top: 2rem;
  }

  .data-search {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    max-width: calc(100% - 1rem);
    padding: 1.625rem 1.5rem 2.5rem;
    top: 2rem;
  }
  .data-search {
    flex-direction: column;
  }
}
