<div class="background">
  <mat-card class="centered-div card-md">
    <form
      (ngSubmit)="resetPassword()"
      [formGroup]="resetPassForm"
      class="register-content"
      appearance="outline">
      <mat-card-header>
        <mat-card-title>Abled</mat-card-title>
        <mat-card-subtitle>Without limits!</mat-card-subtitle>
        <mat-card-subtitle>Restablecer contraseña</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'" />
          <mat-icon (click)="hide = !hide" matSuffix>{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
          <mat-error *ngIf="checkData('password')">
            {{ checkErrors('password', 'requirements') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            formControlName="confirmPassword"
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'" />
          <mat-icon
            (click)="hideConfirmPassword = !hideConfirmPassword"
            matSuffix>
            {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="checkData('confirmPassword')">
            {{ checkErrors('confirmPassword', 'requirements') }}
          </mat-error>
          <mat-error
            *ngIf="
              checkData('confirmPassword') && f.hasError('passwordsNotMatching')
            ">
            Contraseñas no coinciden
          </mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions class="card-flex-column">
        <button
          [disabled]="f.invalid"
          mat-raised-button
          color="primary"
          class="button-block">
          Enviar
        </button>
        <button
          mat-raised-button
          color="warn"
          class="button-block"
          [routerLink]="['/auth/login']">
          Volver
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </form>
  </mat-card>
</div>
