<footer>
  <div class="main-content">
    <div class="left box">
      <h2>Sobre nosotros</h2>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem natus
          voluptate nesciunt aut ut, eligendi illo accusantium aperiam quisquam
          qui rerum id molestiae porro iusto. Incidunt numquam doloremque rem
          est?
        </p>
      </div>
    </div>
    <div class="right box">
      <h2>Contactanos</h2>
      <div class="content">
        <form>
          <div class="email">
            <div class="text">Email</div>
            <input required type="email" />
          </div>
          <div class="msg">
            <div class="text">Mensaje</div>
            <textarea required rows="2" cols="25"></textarea>
          </div>
          <div class="btn">
            <button mat-raised-button>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="center">
      <span class="compañy">Abled</span>
    </div>
  </div>
</footer>
