<section>
  <div class="section-inner hero">
    <div class="card-hero">
      <div class="card-hero-content">
        <h1 class="card-hero-title">Registra tu cabaña</h1>
        <p class="card-hero-text">
          Es fácil alquilar su cabaña a través en Abled, tanto si es propietario
          de una cabaña privada como si es un profesional de la industria del
          turismo. Con nuestras herramientas fáciles de usar, usted administra
          convenientemente todos sus alquileres y decide bajo qué condiciones,
          cuándo y a quién alquila su cabaña. ¡Empiece a alquilar rentablemente
          ahora!
        </p>
        <button mat-raised-button color="primary">Registra tu cabaña</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section-inner cards">
    <div class="cards-container">
      <div class="card">
        <p>Lorem ipsum dolor sit.</p>
      </div>
      <div class="card">
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="card">
        <p>
          <span>100.000</span> Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section-inner steps">
    <div class="steps-container">
      <div class="step">
        <div class="step-left">
          <div class="step-left-number">1.</div>
          <div class="step-left-text">
            <h3 class="step-left-title">Registrate como propietario</h3>
            <p class="step-left-description">
              Para poder dejar un anuncio sobre su propiedad en alquiler, debe
              registrarse como propietario. El registro incluye un contrato de
              servicio de pago, que permite la liquidación segura de las rentas.
            </p>
            <ul>
              <li>El registro y la generación de informes son gratuitos</li>
              <li>
                El acuerdo de servicio de pago incluye cuentas de alquiler
                automáticas y seguras
              </li>
              <li>Tarifa de comisión asequible: solo paga los alquileres</li>
            </ul>
          </div>
          <button mat-raised-button color="primary">Registra tu cabaña</button>
        </div>
        <div class="step-right">
          <img
            class="step-right-image"
            src="https://www.nettimokki.com/build/images/become-renter-img-1.jpg"
            alt="" />
        </div>
      </div>
      <div class="step">
        <div class="step-left">
          <div class="step-left-number">2.</div>
          <div class="step-left-text">
            <h3 class="step-left-title">Publica tu estancia gratis</h3>
            <p class="step-left-description">
              Puede completar el formulario de notificación en el escritorio del
              arrendador después de haber iniciado sesión en el servicio.
            </p>
            <p>
              Un aviso bien cumplimentado es la clave para un alquiler rentable.
              Cuanto más cuidadosamente complete la información en el anuncio,
              más probable es que termine en los resultados de búsqueda de los
              buscadores de cabañas. Preste especial atención a las imágenes de
              alta calidad y al texto introductorio. La plantilla de
              notificación paso a paso lo ayuda a crear y actualizar una buena
              notificación.
            </p>
            Como arrendador en Abled:
            <ul>
              <li>
                Usted decide por sí mismo a qué precio y cómo alquila su
                propiedad
              </li>
              <li>
                Maneja el calendario de reservas de manera fácil y flexible
              </li>
              <li>
                Puede elegir el más adecuado para usted de las condiciones de
                alquiler disponibles, por ejemplo, si desea especificar un
                depósito de alquiler
              </li>
            </ul>
          </div>
        </div>
        <div class="step-right">
          <img
            class="step-right-image"
            src="https://www.nettimokki.com/build/images/become-renter-img-2.jpg"
            alt="" />
        </div>
      </div>
      <div class="step">
        <div class="step-left">
          <div class="step-left-number">3.</div>
          <div class="step-left-text">
            <h3 class="step-left-title">Gestiona tus reservas</h3>
            <p>
              Cuando se publica su anuncio y recibe solicitudes de reserva,
              puede procesarlas iniciando sesión en el escritorio del
              propietario de la cabaña.
            </p>
            El escritorio del propietario de la cabina permite:
            <ul>
              <li>Previsualizar y editar el anuncio</li>
              <li>Gestionar reservas y mensajes</li>
              <li>Crear y actualizar precios y temporadas</li>
              <li>
                Comunicarse en la plataforma con el arrendatario, cuando se
                guardan los asuntos acordados
              </li>
              <li>Encontrar cómodamente recibos e informes en un solo lugar</li>
              <li>
                Un manera fácil de comprar visibilidad adicional para su destino
              </li>
            </ul>
          </div>
        </div>
        <div class="step-right">
          <img
            class="step-right-image"
            src="https://www.nettimokki.com/build/images/become-renter-img-3.jpg"
            alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="section-inner">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-left-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quos voluptates voluptatem voluptatibus
            quod quas quidem doloribus quae.
          </p>
        </div>
        <button mat-raised-button color="primary">Registra tu cabaña</button>
      </div>
      <div class="footer-right">
        <div class="footer-card">
          <div class="footer-card-icon">
            <img src="#" alt="" />
          </div>
          <div class="footer-card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              minus animi similique aspernatur.
            </p>
          </div>
        </div>
        <div class="footer-card">
          <div class="footer-card-icon">
            <img src="#" alt="" />
          </div>
          <div class="footer-card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              minus animi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
