<div class="background">
  <mat-card class="centered-div card-md">
    <form
      (ngSubmit)="forgotPassword()"
      [formGroup]="forgotPassForm"
      class="register-content"
      appearance="outline">
      <mat-card-header>
        <mat-card-title>Abled</mat-card-title>
        <mat-card-subtitle>Without limits!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Dirección e-mail </mat-label>
          <input formControlName="email" matInput type="text" />
        </mat-form-field>
        <p>
          Introduce tu correo electrónico y te enviaremos instrucciones para
          recuperar tu contraseña
        </p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions class="card-flex-column">
        <button
          [disabled]="f.invalid"
          mat-raised-button
          color="primary"
          class="button-block">
          Enviar
        </button>
        <button
          mat-raised-button
          color="warn"
          class="button-block"
          [routerLink]="['/auth/login']">
          Volver
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </form>
  </mat-card>
</div>
