.background {
  position: fixed;
  inset: 0px;
  height: 100%;
  background-image: url(../../../../assets/images/background.jpg);
  background-color: rgba(0, 0, 0, 0);
  font-family: GalanoGrotesqueAlt-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(74, 74, 74);
  overflow: auto;
}
.centered-div {
  border: 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.mat-mdc-card-header {
  margin-bottom: 1rem;
}

.card {

  &-md {
    max-width: 400px;
  }
  &-flex-column {
    display: flex;
    flex-direction: column !important;
    align-items: center
  }
}

.button-block {
  width: 90% !important;
  height: 50px !important;
  margin: 0.5rem !important;
}

.mat-mdc-form-field {
  display: block;
}
